* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
  /* border: 1px solid gray; */
  height: 10vh;
  padding: 0 6.5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.29);
}

/* header div{
  border: 2px solid red;
} */

header div img{
  width: 100%;
  height: 5rem;
  /* margin: 0 1rem; */
}

.nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.2rem;
  column-gap: 2rem;
  list-style: none;
}

.navbar-link{
  padding: 0 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-btn{
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  header div img{
    width: 100%;
    height: 3.5rem;
    /* margin: 0 1rem; */
  }
  .nav-btn{
    padding: 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
  }

  .nav{
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 625px) {
  header{
    justify-content: center;
  }
  header div img{
    width: 100%;
    height: 3.5rem;
    /* margin: 0 1rem; */
  }
  .nav-btn{
    padding: 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
  }

  .nav{
    display: none;
  }
}

@media (min-width: 626px) and (max-width: 768px) {
  header{
    justify-content: center;
    height: 12vh;
  }
  header div img{
    width: 100%;
    height: 3.5rem;
    margin-top: 0.5rem;
    /* margin: 0 1rem; */
  }
  .nav-btn{
    padding: 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
  }

  .nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    column-gap: 0.6rem;
    list-style: none;
  }
  
  .navbar-link{
    padding: 0 0.025rem;
    text-decoration: none;
    transition: color 0.3s;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  header{
    height: 14vh;
  }

  .nav{
    column-gap: 0.1rem;
  }
  header div img{
    height: 3.5rem;
    margin-top: 0.5rem;
  }
}



.hero-container{
  height: auto;
  padding: 1rem;
  background-color: rgb(73,94,87);
}


.hero-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 45.34vh;
  margin: 2rem 18.49rem;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid gray; */
  height: 40.78vh;
  width: 30.25vw;
  font-family: 'Markazi Text', serif;
  /* margin: 2rem 1rem; */
}

.text-container h1{
  font-size: 5rem;
  color: rgb(244,206,20);
}

.text-container h3{
  color: white;
  font-size: 3.5rem;
  line-height: 1rem;
}

.hero-text{
  color: white;
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;
}

.cta-button{
  width: 12.5rem;
  height: 3.75rem;
  border: none;
  border-radius: 16px;
  background-color: rgb(244,206,20);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.cta-button:focus{
  outline: 2px solid rgb(51,51,51);
}

.image-container{
  /* border: 1px solid gray; */
  height: 50.11vh;
  width: 31.25vw;
  /* margin-top: -7rem; */
}

.image-container img{
  width: 100%;
  height: 110%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero-container{
    padding: 0.2rem;
  }

  .hero-content{
    height: 45.34vh;
    margin: 2rem 0.1rem;
    /* border: 2px solid yellow; */
    justify-content: center;
  }

  .text-container{
    width: 90vw;
    align-items: center;
  }

  .text-container h1{
    font-size: 36px;
    line-height: 44px;
    width: 10rem;
    text-align: center;
  }

  .text-container h3{
    color: white;
    font-size: 22px;
    line-height: 1rem;
    text-align: center;
  }

  .hero-text{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  
  .image-container{
    display: none;
  }
  
  .image-container img{
    display: none;
  }

  .cta-button{
    width: 7.5rem;
    height: 2.25rem;
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
  }
}


@media (min-width: 481px) and (max-width: 625px) {
  .hero-container{
    padding: 0.2rem;
    background: rgba(0,0,0,0.6)url(./assets/images/restauranfood.jpg);
    background-blend-mode: darken;
    background-size:contain;
  }

  .hero-content{
    height: 55.34vh;
    margin: 2rem 0.1rem;
    /* border: 2px solid yellow; */
    justify-content: center;
  }

  .text-container{
    width: 90vw;
    align-items: center;
  }

  .text-container h1{
    font-size: 45px;
    line-height: 52px;
    width: 14rem;
    text-align: center;
  }

  .text-container h3{
    color: white;
    font-size: 32px;
    line-height: 2rem;
    text-align: center;
  }

  .hero-text{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  
  .image-container{
    display: none;
  }
  
  .image-container img{
    display: none;
  }

  .cta-button{
    width: 12rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 626px) and (max-width: 768px) {
  .hero-container{
    padding: 0.2rem;
    background: rgba(0,0,0,0.6)url(./assets/images/mario-and-adrian.jpg);
    background-blend-mode: darken;
    background-size:contain;
  }

  .hero-content{
    height: 45.34vh;
    margin: 2rem 0.1rem;
    /* border: 2px solid yellow; */
    justify-content: center;
  }

  .text-container{
    width: 90vw;
    align-items: center;
  }

  .text-container h1{
    font-size: 57px;
    line-height: 62px;
    width: 16rem;
    text-align: center;
  }

  .text-container h3{
    color: white;
    font-size: 42px;
    line-height: 2rem;
    text-align: center;
  }

  .hero-text{
    text-align: center;
    font-size: 28px;
    line-height: 30px;
  }
  
  .image-container{
    display: none;
  }
  
  .image-container img{
    display: none;
  }

  .cta-button{
    width: 12rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-container{
    padding: 0.2rem;
    background: rgba(0,0,0,0.6)url(./assets/images/restauranfood.jpg);
    background-blend-mode: darken;
    background-size:contain;
  }

  .hero-content{
    height: 45.34vh;
    margin: 2rem 0.1rem;
    /* border: 2px solid yellow; */
    justify-content: center;
  }

  .text-container{
    width: 90vw;
    align-items: center;
  }

  .text-container h1{
    font-size: 57px;
    line-height: 62px;
    width: 16rem;
    text-align: center;
  }

  .text-container h3{
    color: white;
    font-size: 42px;
    line-height: 2rem;
    text-align: center;
  }

  .hero-text{
    text-align: center;
    font-size: 28px;
    line-height: 30px;
  }
  
  .image-container{
    display: none;
  }
  
  .image-container img{
    display: none;
  }

  .cta-button{
    width: 12rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
  }
}




/* 
@media screen and (max-width: 1660px) {
  header { 
    padding: 0.8rem 5rem;
    height: 11vh;
  }
  header div img{
    width: 60%;
    margin: 0 1rem;
  }

  li{
    margin: 0 1rem;
  }

  a{
    font-size: 1rem;
  }

  .hero-content{
    margin: auto;
    width: 80vw;
  }

  .text-container{
    width: 100%;
    text-align: center;
  }

  .text-container h1{
    font-size: 5rem;
    line-height: 3rem;
  }

  .text-container h3{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .hero-text{
    font-size: 1.5rem;  
    line-height: 2rem;
  }

  .cta-button{
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 1rem;
  }

  .image-container{
    display: none; 
  }

  .image-container img{
    display: none;
  }  
}


@media screen and (max-width: 375px) {

  header div{
    display: none;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
  }

  .list{
    background-color: gray;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .nav-btn{
    visibility: visible;
    opacity: 1;
    font-size: 1.2rem;
  }

  .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .responsive_nav{
    transform: none;
  }

  .text-container{
    width: 100%;
    text-align: center;
  }

  .text-container h1{
    font-size: 3rem;
  }

  .text-container h3{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .hero-text{
    font-size: 1.5rem;  
    line-height: 1.5rem;
  }
  
  footer{
    display: none;
  }
} */

.highlights-content{
  /* width: 71.5vw; */
  display: flex;
  flex-direction: column;
  
  /* height: 58.66vh; */
  /* border: 1px solid gray; */
  margin: 8rem 18.49rem;

}

.heading{
  /* border: 1px solid gray; */
  display: grid;
  grid-template-columns: 5.2fr 1fr;
  /* background-color: aquamarine; */
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}

.heading h3{
  font-family: 'Markazi Text', serif;
  font-size: 60px;
  font-weight: normal;
}

.card-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  /* border: 1px solid gray; */
  /* width: 20.56rem; */
  width: 16.56rem;
  border-radius: 16px 16px 0 0;
  background-color: rgb(237,239,238);
}

.image-card{
  height: 11.68rem;
  /* border: 1px solid gray; */
  border-radius: 16px 16px 0 0;
  width: 16.56rem;
}

.image-card img{
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
}

.img{
  object-fit: cover;
}

.card-title{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1.1rem;
  font-family: 'Markazi Text', serif;
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.card-title p{
  color: rgb(238,153,114);
}

.card-paragraph{
  padding: 0 1.2rem;
  font-family: 'Karla', sans-serif;
  line-height: 1.5rem;
  font-size: 17px;
  height: 10rem;
  /* border: 1px solid gray; */
}

.order-delivery{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 1rem 1rem 1.5rem 1.1rem;
  align-items: center;
  font-weight: bold;
}

.order-delivery div{
  /* border: 1px solid gray; */
  height: 25px;
  width: 30px;
}

.order-delivery p{
  font-family: 'Karla', sans-serif;
  padding: 0.3rem;
  text-align: center;
}

.order-delivery div img{
  width: 100%;
  height: 100%;
}



 /* .highlights-content */

@media screen and (max-width: 1024px) {
  
  .highlights-content{
    /* width: 71.5vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    /* border: 1px solid gray; */
    margin: 4rem 4rem;
  }

  .heading{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: aquamarine; */
    justify-content: space-between;
    align-items: center;
  }
  
  .heading h3{
    font-size: 3rem;
    /* border: 1px solid gray; */
  }


  .mobile{
    background-color: rgb(244,206,20);
    margin-right: 0.1rem;
  }

  .card-container{
    height: auto;
    /* margin-top: 2rem; */
    /* border: 1px solid blue; */
  }


  .card{
    /* border: 1px solid gray; */
    /* width: 16.56rem; */

    border-radius: 16px 16px 0 0;
    /* width: calc(42% - 1rem);  */
    margin-bottom: 2rem; 
    /* width: 15.56rem; */
    
    
  }

  
.image-card{
  /* height: 11.68rem; */

  height: 10rem;
  border-radius: 16px 16px 0 0;
  width: auto;
}

.order-delivery div{
  height: 28px;
  width: 30px;
  background-color: rgb(244,206,20);
  padding: 0.2rem;
  border-bottom-right-radius: 14px;
}

.order-delivery p{
  padding: 0.28rem;
  background-color: rgb(244,206,20);
  border-top-left-radius: 14px;

}

}


.testimonials{
  /* height: 65.56vh; */
  /* height: auto; */
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(217,217,217);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials h4{
  font-size: 2.25rem;
  font-family: 'Markazi Text', serif;
  font-weight: normal;
  padding-bottom: 4.5rem;
}

.testimonial-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid gray;
  background-color: beige; */
  /* height: 30vh;
  width: 90vw; */
}

.rating-cards{
  height: 10.94rem;
  width: 12.5rem;
  margin: 0  4.7rem 4.7rem 4.7rem;
  background-color: white;
  border: 1px solid gray;
  /* flex: 1; */
}

.about{
  /* height: 63.33vh; */
  height: auto;
  padding-top: 4rem;
  padding-bottom: 8rem;
  /* border: 1px solid gray; */
}


.content{
  /* border: 1px solid gray; */
  display: flex;
  justify-content: space-between;
  height: auto;
  /* margin-top: 4rem; */
}

.content h1{
  color: rgb(73,94,87);
  /* border: 1px solid gray; */
}

span{
  color: rgb(238,153,114);
}

.color{
  color: rgb(73,94,87);
  /* border: 1px solid gray; */
  padding-top: 2rem 2rem;
  margin-top: 2rem;
}

.about-image{
  /* display: grid;
  grid-template-columns: 1fr; */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.29);
  margin: auto 1.1rem;
  /* height: 40.78vh; */
  width: 35.25vw;
}

.about-image img{
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .about-image{
    display: none;
    grid-template-columns: 1fr 1fr;
  }
}

footer{
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 10rem;
  justify-content: center;
  background-color: #495e57;
}

footer section{
  padding: 1rem 1rem 0 1rem;
  margin-right: 5rem;
}

.footer-img{
  border: 2px solid white;
  width: 12rem;

}

.footerLogo{
  width: 100%;
}

.footer-nav{
  display: flex;
  flex-direction: column;
}

.footer-text{
  padding: 0rem 0 1.2rem 0;
  text-decoration: none;
  list-style: none;
  color: #f4ce14;
}